---
http_interactions:
- request:
    method: get
    uri: https://api.legiscan.com/?key=<LEGISCAN_API_KEY>&op=getSessionList&state=US
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token bb644955a5b0784760fa0df6c8747e16a8eeda4a
    body:
      encoding: UTF-8
      string: '{"status":"OK","sessions":[{"session_id":2041,"state_id":52,"year_start":2023,"year_end":2024,"prefile":0,"sine_die":0,"prior":0,"special":0,"session_tag":"Regular
        Session","session_title":"2023-2024 Regular Session","session_name":"118th
        Congress","dataset_hash":"a9bc8d9f04530f89777791f8de8ab770","session_hash":"a9bc8d9f04530f89777791f8de8ab770","name":"118th
        Congress"},{"session_id":1823,"state_id":52,"year_start":2021,"year_end":2022,"prefile":0,"sine_die":1,"prior":1,"special":0,"session_tag":"Regular
        Session","session_title":"2021-2022 Regular Session","session_name":"117th
        Congress","dataset_hash":"1e5b1b2ba95b960a300ad04616c936b5","session_hash":"1e5b1b2ba95b960a300ad04616c936b5","name":"117th
        Congress"},{"session_id":1658,"state_id":52,"year_start":2019,"year_end":2020,"prefile":0,"sine_die":1,"prior":1,"[...]
